* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

body {
  background-color: white; 
  width: 100%;
  overflow-x: hidden; 
}

#root {
  width: 100%;
}