* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
width: 100%;
max-width: 900px;
margin: 0 auto; /* Changes on this */
padding: 20px; /* to have more space btwn the Header and Body */
}

.divider {
  border: 0;
  height: 1px;
  background: grey;
  margin: 20px 0;
}

.section {
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.section h2 {
  color: darkslategrey; 
  display: inline-block;
  margin-bottom: 10px;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.skills-list li {
  background: #eee;
  padding: 5px 10px;
  border-radius: 5px;
}

